body {
    margin: 0;
    padding: 0;
}

div img.desk-image {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

div img.mobile-image {
    display: none;
}

@media only screen and (max-width: 360px) {
    div img.desk-image {
        display: none;
    }
  }

  @media only screen and (max-width: 360px) {
    div img.mobile-image {
        display: block;
    }
  }
